body {
    background-image: url("pokedex.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
}
 
p {
    position: relative;
    left: 387px;
    top: 110px;
    line-height: 0.6;
    font-family: 'Rajdhani', sans-serif;
    width: 250px; 
    word-wrap: break-word;
}

#p4 {
    line-height: 0.8;
}